*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
background-image: url(./dada.jpg);
color: yellow;
width: 100%;
background-repeat: no-repeat;
background-attachment: fixed;








}



h1{
text-align: center; 
font-family: fantasy;
height: 15vh;
margin-top: 5%;
font-size: 77px;
text-shadow: 1px 1px 1px #0c0c0c,
        1px 2px 1px #615050,
        1px 3px 1px #503939,
        1px 4px 1px #632f2f,
        1px 5px 1px #7f2727,
        1px 6px 1px #fb0101,
        1px 7px 1px #fd0101,
        1px 8px 1px #fa0404,
        1px 9px 1px #fb0404,
        1px 10px 1px #fa0606,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}




a{
color: red;

}

main{

margin-top: 5%;

}

ul li a:hover {
  color: rgb(210, 0, 0);

}

h2{
margin-top: 5%;
margin-bottom: 5%;
text-align: center;
font-family: fantasy;
font-size: 50px;
text-shadow: 1px 1px 1px #0c0c0c,
        1px 2px 1px #615050,
        1px 3px 1px #503939,
        1px 4px 1px #632f2f,
        1px 5px 1px #7f2727,
        1px 6px 1px #fb0101,
        1px 7px 1px #fd0101,
        1px 8px 1px #fa0404,
        1px 9px 1px #fb0404,
        1px 10px 1px #fa0606,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}

h3{

margin-top: 2%;
margin-bottom: 2%;
font-family: fantasy;
font-size: 30px;
text-align: center;
text-shadow: 1px 1px 1px #0c0c0c,
        1px 2px 1px #615050,
        1px 3px 1px #503939,
        1px 4px 1px #632f2f,
        1px 5px 1px #7f2727,
        1px 6px 1px #fb0101,
        1px 7px 1px #fd0101,
        1px 8px 1px #fa0404,
        1px 9px 1px #fb0404,
        1px 10px 1px #fa0606,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}

p{

margin-left: 15%;
margin-right: 15%;
color: whitesmoke;
font-family: cursive;
font-size: 17px;
font-weight: bolder;
}
img{


  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3%;
 border-radius: 33%;
}


#tri{

text-align: center;
margin-top: 5%;


}

.nnn{

margin-top: 5%;
margin-bottom: 5%;

}

.mmm{

width: 65px;
height: 65px;
display: inline-block;
margin-left: 15%;



}

#post{
width: 400px;

}

.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}





li a {text-decoration : none; color : #fbfb0d;
width: 100%;
font-family: fantasy;
font-size: 25px;

}


.drop {
  width : 400px; 
  margin : 20px auto; 
  margin-top: 5%S;
}

span {
  padding : 30px;
  background: linear-gradient(110deg, #141414 50%, #2f2e2e 60%); 
  color : rgb(245, 249, 4);
  font-size : 1.9em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
  border-radius: 55%;
  box-shadow: 5px 10px 8px 10px #c20404;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {padding : 30px;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 



